<html>
			<body>
				<h2>Username Reminder</h2>
				<p>Hello,</p>
				<p>You recently requested to be reminded of your username.</p>
				<p>Your username is: <strong>%s</strong></p>
				<p>You can use this username to log in to your account.</p>
				<p>If you did not request this reminder, please ignore this email.</p>
				<br>
				<p>Best regards,</p>
				<p>Your IDM Team</p>
			</body>
		</html>